@charset "utf-8";

body {
  background-color: #dddddd;
}
h1 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

.button {
  background-color: #008cba;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;

  border-style: none;

  margin: 20px;
}
.button:hover {
  background-color: #24d;
}
